/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    /* Toute la largeur de la fenêtre */

    height: 100%;
    /* Toute la hauteur de la fenêtre */

    font-family: var(--defaultFont);
    /* Police d'écriture */

}

:root {

    /* font-family: 'Caveat', cursive; */

    --primaryColor: rgba(32, 32, 32, 1);
    --secondaryColor: rgba(112, 208, 56, 1);
    --tertiaryColor: rgba(255, 255, 255, 1);
    --lightGrey: rgba(255, 255, 255, 0.2);
    --dark: rgba(16, 16, 16, 1);
    --extraBlack: rgba(0, 0, 0, 1);

    --defaultFont: Helvetica, Arial, sans-serif;
    --fontWrite: 'Quicksand', sans-serif;
    --fontFamilyTitle: 'Caveat', cursive;
}


